
# For Docker Compose - PostgreSQL and Redis configuration
POSTGRES_DB=example # Name of the PostgreSQL database
POSTGRES_USER=example # Username for the PostgreSQL database
POSTGRES_PASSWORD=example # Password for the PostgreSQL database
POSTGRES_HOST=localhost # Hostname or IP address of the PostgreSQL server
POSTGRES_PORT=5432 # Port number for the PostgreSQL server

# Go application - Database connection configuration
DATABASE_URL=postgres://example:example@localhost:5432/example?sslmode=disable # Connection URL for the database with SSL mode disabled

# Go application - Redis configuration
REDIS_ADDR=localhost:6379 # Address of the Redis server

# Go application - Ollama configuration
OLLAMA_GPU=1 # Use GPU for Ollama if applicable 
